.details {
    border: 2px solid black;
    padding: 20px;
    margin: 50px 200px;
    display: flex;
    gap: 50px;
}

.details-heading {
    text-align: center;
    margin: 20px 0px 5px 0px;
    font-size: 40px;
    margin-left: 40px;
}

.details-category {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.details-content {
    width: 550px;
    text-align: justify;
    margin-left: 40px;
}

.img-details {
    width: 330px;
    height: 400px;
}

.btn-details-edit,
.btn-details-delete,
.btn-details-save {
    border: 1px solid black;
    padding: 5px 20px;
    background-color: grey;
    font-size: 18px;
    color: black;
    font-weight: 600;
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.btn-details-save {
    margin-left: 280px;
}

.btn-details-edit {
    margin-left: 210px;
}

.btn-details:hover {
    color: gold;
}