main {
    display: flex;
}

.register {
    border: 1px solid black;
    position: relative;
    top: 3%;
    left: 40%;
    padding: 30px;
    margin-bottom: 90px;
    background-color: rgb(241, 203, 156);
}

.register h1 {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 4px solid black;
}

.register label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
}

.register input {
    display: block;
    margin-bottom: -15px;
    width: 350px;
    border: none;
    border-bottom: 3px solid black;
}

.register input:focus {
    outline: none;
    border-bottom: 3px solid black;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

.register .btn {
    border-radius: 25px;
    padding: 8px 15px;
    vertical-align: middle;
    font-size: 20px;
    background-color: rgb(190, 190, 190);
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: black;
    color: gold;
}

ul.categories {
    margin-left: 25px;
    font-size: 20px;
}

.categories li:nth-of-type(4) {
    list-style-type: none;
}

legend {
    font-size: 20px;
}

fieldset {
    margin-bottom: 5px;
}

fieldset ol li {
    font-size: 18px;
}

fieldset ol {
    margin-top: 0px;
    margin-bottom: 10px;
}

fieldset {
    padding-bottom: 30px;
}

.correct {
    color: rgb(33, 199, 33);
}

.wrong {
    color: rgb(255, 0, 0);
}

.register p.form-error {
    color: red;
    margin-top: 15px;
    margin-bottom: 25px;
}