@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    aside {
        display: none;
    }

    .login {
        margin: 50px 265px 50px -215px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }
}