ul.movies-list[role='list'] {
    margin-top: 40px;
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

ul.movies-list[role='list'] li p {
    width: 220px;
    height: 115px;
    text-align: justify;
    margin-bottom: 20px;
}

ul.movies-list[role='list'] li img {
    height: 220px;
    width: 220px;
}

.film-heading {
    text-align: center;
}

ul.catalog-categories[role='list'] {
    margin-left: 20px;
    font-size: 22px;
    margin-top: 0px;
    width: 200px;
    background-color: rgb(181, 179, 180);
    padding: 10px;
    list-style-type: none;
}

.empty-catalog {
    text-align: center;
    font-size: 50px;
    margin-left: 240px;
    position: relative;
    top: 40%;
    left: 20%;
}

.link-details {
    border: 1px solid black;
    padding: 5px 20px;
    background-color: grey;
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.link-details:hover {
    color: gold;
}