.catalog {
    display: flex;
}

ul.movies-list[role='list'] {
    margin-top: 37px;
    display: flex;
    gap: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 600px;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 1 80px;
}

ul.movies-list[role='list'] li p {
    width: 220px;
    text-align: justify;
}

ul.movies-list[role='list'] li img {
    height: 220px;
    width: 220px;
}

.film-heading {
    text-align: center;
}

ul.catalog-categories[role='list'] {
    margin-left: 20px;
    font-size: 22px;
    margin-top: 0px;
    width: 200px;
    background-color: rgb(181, 179, 180);
    padding: 10px;
    list-style-type: none;
}