ul.movies-list[role='list'] {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    width: 200px;
    flex-direction: row;
}

ul.catalog-categories[role='list'] {
    margin-left: 20px;
    font-size: 22px;
    margin-top: 0px;
    width: 200px;
    background-color: rgb(181, 179, 180);
    padding: 10px;
    list-style-type: none;
}