ul.movies-list[role='list'] {
    margin-top: 40px;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

ul.movies-list[role='list'] li p {
    width: 220px;
    height: 140px;
    text-align: justify;
    margin-bottom: 20px;
}

ul.movies-list[role='list'] li img {
    height: 220px;
    width: 220px;
}

.film {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border: 4px solid black;
    padding: 10px;
    width: 240px;
    background-color: rgb(100, 99, 99);
}

.film-heading {
    text-align: center;
    width: 220px;
    margin-bottom: 20px;
    height: 70px;
    color: white;
}

ul.catalog-categories[role='list'] {
    margin-left: 20px;
    font-size: 22px;
    margin-top: 0px;
    width: 200px;
    background-color: rgb(181, 179, 180);
    padding: 10px;
    list-style-type: none;
    margin-bottom: 40px;
}

.empty-catalog {
    text-align: center;
    font-size: 50px;
    margin-left: 240px;
    position: relative;
    top: 40%;
    left: 0%;
}

.link-details {
    border: 1px solid black;
    padding: 5px 20px;
    background-color: rgb(168, 166, 166);
    font-size: 18px;
    color: black;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.link-details:hover {
    color: gold;
}

.not-found {
    font-size: 40px;
    text-align: center;
    margin-left: 410px;
    margin-top: -40px;
}