.heading__navbar {
    display: flex;
    align-items: center;
    gap: 40px;
    border-bottom: 3px solid black;
    background-color: rgb(181, 179, 179);
}

.nav-item-logo {
    width: 90px;
    padding-top: 5px;
    margin-right: 50px;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 5px;
}

.nav-item a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.nav-item a:hover {
    border: 1px solid black;
    padding: 2px 10px;
    color: white;
    font-size: 25px;
    background-color: black;
    color: gold;
}

.nav-item-search input{
    width: 290px;
    height: 40px;
    margin-right: 10px;
}

i.search {
    position: relative;
    left: -30px;
}

.btn-search {
    padding: 3px 25px;
    font-size: 20px;
    cursor: pointer;
}

.btn-search:hover {
    background-color: black;
    color: gold;
}

.header_heading {
    text-align: center;
    font-size: 50px;
    border-bottom: 3px solid black;
    padding: 20px;
}

.header_heading i.fas.fa-film {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 60px;
}