footer {
    display: flex;
    border-top: 3px solid black;
    justify-content: space-around;
    padding: 50px 70px;
    color: white;
    background-color: rgb(37, 37, 37);
    position: absolute;
    width: 100%;
    bottom: -85%;
}

.footer-item {
    display: inline-block;
    margin-right: 10px;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: gold;
}